.border {
    border: 2px solid rgba(0, 123, 255, 0); 
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    background-color: rgba(248, 249, 250, 0.8); 
    max-width: 600px; 
    margin: auto; 
    margin-top: 2rem; 
    position: relative; 
}


body{
    margin: 0;
    padding: 0;
    height: 100vh;
    /* background: linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
    ), url('C:\Users\User\Desktop\MIllare - BSIT3a\myfirstapp\auf.jpg'); */
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    }
    .inside textarea {
        width: 100%; 
        padding: 0.5rem; 
        border: 1px solid rgba(222, 226, 230, 0.5); 
        border-radius: 5px; 
        resize: vertical; 
        background-color: #ffffff; 
    }
